/Package Control.cache
/SublimeLinter
/*.crt
/*.last-run
/*.merged-ca-bundle
/*.
/*.user-ca-bundle
sublime-settings
Package Control.sublime-settings
SublimeLinter
Preferences.sublime-settings
Package Control.sublime-settings